// Colors
$white:      #ffffff;
$light:      #efefef;
$light-gray: #f6f6f6;
$dark:       #00030a;
$primary:    #116cd3;
$secondary:  #54585b;
$info:       #7b75cc;
$success:    #3ba96e;
$warning:    #e1ce39;
$danger:     #dc2215;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Forms
$label-color: #777;


