// Article image
.post-media {
  position: relative;

  .remove-media {
    position: absolute;
    opacity: 0;
    text-decoration: none;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 20px;
    left: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    background: rgba(0, 0, 0, 0.12);
    transition: all 0.25s ease-in-out;

    &.remove-video {
      right: 10px;
    }

    .fa {
      font-size: 125%;
    }
  }

  &:hover {
    .remove-media {
      opacity: 1;
    }
  }
}

.image-preview {
  width: 40px;
  height: auto;
  padding: 1px;
  background-color: $body-bg;
  border: 1px solid $medium-gray;
  border-radius: 3px;

  &.large {
    width: 100%; 
  }
}

// Article video
.video-preview {
  overflow: hidden;
  border: 1px solid $medium-gray;
  border-radius: 3px;
  padding: 1px;
  background: $body-bg;
}

// Article tags
.tags-list {
  min-height: 40px;
  list-style-type: none;

  .tag {
    line-height: 1;
    white-space: nowrap;
    background: #f2f2f2;
    border: 1px solid #e6e3e3;
    display: inline-flex;
    align-items: center;
    border-radius: 999px;
    font-size: 13px;
    padding: 3px 8px;
    margin: 1px;

    button {
      background: #ff9292;
      color: #720000;
      border: none;
      width: 18px;
      height: 18px;
      font-size: 12px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 6px;
      border-radius: 50%;
    }
  }
}

.tag-actions.hidden {
  display: none;
}

.tag-toggler {
  position: absolute;
  right: 15px;
  margin-top: 8px;
  color: #777;
  cursor: pointer;

  &.active {
    transform: rotate(180deg);
  }
}

.tag-select {
  height: 170px;

  option {
    padding: 3px 8px;
  }
}