#app {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) and (max-width: 992px) {
	.container {
		 max-width: 100%;
	}
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-toggler {
	background-color: #f8fafc;
	&:focus {
		box-shadow: none;
	}
}

.dashboard-footer {
	margin-top: auto;
	padding: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background: #fff;

	p {
		color: #878787;
		font-size: 12px;
	}
}

// Pagination
.pagination {
    margin-bottom: 0;
		justify-content: center;
}