.count-bubble {
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -15px;
  background: #c00;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}