.sidebar {
	overflow: hidden;

	.list-group-item {
		padding: 0;

		&:hover {
			background: rgba(0, 0, 0, .03);
		}

		a {
			color: $secondary;
			text-decoration: none;
			padding: 0.5rem 1rem;
			display: flex;
			justify-content: space-between;
      align-items: center;
      
			&.active {
				color: $success;
			}

			.badge {
				line-height: 1;
				font-size: inherit;
				color: inherit;
				font-weight: inherit;
			}
		}
	}
}